<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Error desconocido</title>
    <!-- Bootstrap core CSS -->
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="/public/css/signin.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <main class="form-signin">
      <img class="mb-4" src="/public/img/logo.png" height="150" width="150" alt="Logo">
      <h1>Error desconocido</h1>
      <p>Ir a <a href="/">home</a>.</p>
      <div class="alert alert-danger" role="alert">
	Hubo un error. Avisar a alguien por favor!!!! :-)
      </div>
    </main>    
  </body>
</html>
