{{set . "title" "Cambiar la contraseña del usuario"}}
{{template "header.html" .}}

<h1>Cambiar la contraseña del usario</h1>

{{template "flash.html" .}}

<form method="post">

  <input type="hidden" class="form-control" id="id" name="id" value="{{ .user.Id }}">

  <div class="mb-3">
    <label for="password" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="password" name="password" value="" required>
  </div>


  <div class="mb-3">
    <label for="password2" class="form-label">Repetir la contraseña</label>
    <input type="password" class="form-control" id="password2" name="password2" value="" required>
  </div>


  <button type="submit" class="btn btn-outline-dark">Enviar</button>
</form>

<br>


{{template "footer.html" .}}
