<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <!-- Bootstrap core CSS -->
    <link href="public/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 1024px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="public/css/signin.css" rel="stylesheet">
  </head>
  <body class="text-center">
    
<main class="form-signin">
  <form method="POST">
    <img class="mb-4" src="public/img/logo.png" height="150" width="150" alt="Logo">
    <!-- <h1 class="h3 mb-3 fw-normal">Login</h1> -->

    <div class="form-floating">
      {{template "flash.html" .}}
    </div>
    
    <div class="form-floating">
      <input type="text" class="form-control" id="username" placeholder="Nombre de usuario" name="username">
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="password" placeholder="Contraseña" name="password">
    </div>

    <button class="w-100 btn btn-outline-dark" type="submit">Login</button>
  </form>
</main>


    
  </body>
</html>
